@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body { /* Aplica o gradiente diretamente ao body */
  font-family: system-ui, sans-serif;
  background: linear-gradient(to bottom right, #e0f2fe, #e0ffe0); /* blue-100 para green-100 */
}

/* Remova a definição da classe app-background-gradient, pois não será mais necessária */
/* .app-background-gradient {
  background: linear-gradient(to bottom right, #e0f2fe, #e0ffe0);
} */
